.input{
    padding-top: 5vh;
    display: block;
    

}
.amount{
    margin-block-end: 3vh;
    height: 3vh;
    width: auto;
        display: block; 
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
}
.vendor{
    margin-block-end: 3vh;
height: 3vh;
width: auto;
    display: block; 
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    
}
.category{
    margin-block-end: 3vh;
    height: 3vh;
    width: auto;
        display: block; 
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
}
.deposit {
    background-color: #6CAE75;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:1vh;
    

  }

.withdraw{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:1vh;
}
.button{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}